html {
    overflow-y: scroll;
}

header .wrapper,
main .wrapper,
footer .wrapper
{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

#main-menu {
    width: 100%;
    border-top: 1px solid black;
}

#main-container {
    width: 30%;
    padding-right: 10px;
}

#pdf-container {
    position: relative;
    top: -32px;
    width: 70%;
}

#pdf-js-viewer {
    position: fixed;
    height: 100vw;
}

.menu-element {
    display: flex;
    align-items: center;
}

ul,
li {
    list-style: none;
    cursor: pointer;
}

ul.main-ul {
    padding-left: 0;
}

#main-menu .main-ul {
    margin-top: 0;
}

/* Стили для "аккордиона"*/

.accordion {
    cursor: pointer;
    border: none;
    text-align: left;
}

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
}

.active .material-symbols-outlined {
    rotate: 180deg;
    transition: 0.5s;
}

.file {
    margin-top: 5px;
}

.menu-element:hover,
.file:hover {
    color: blue;
}

