header .wrapper,
main .wrapper,
footer .wrapper
{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

#main-container {
    width: 100%;
}

#main-menu {
    max-width: 30%;
    word-break: break-all;
}

.menu-element {
    display: flex;
    align-items: center;
}

/* Стили для "аккордиона"*/

.accordion {
    cursor: pointer;
    border: none;
    text-align: left;
}

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
}