html {
    overflow-y: scroll;
}

header .wrapper,
main .wrapper,
footer .wrapper
{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

#main-menu {
    width: 100%;
    word-break: break-all;
}

#pdf-js-viewer {
    max-width: 70%;
    height: 100vw;
}

.menu-element {
    display: flex;
    align-items: center;
}

ul,
li {
    list-style: none;
    cursor: pointer;
}

/* Стили для "аккордиона"*/

.accordion {
    cursor: pointer;
    border: none;
    text-align: left;
}

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
}

.active .material-symbols-outlined {
    rotate: 180deg;
    transition: 0.5s;
}

.file {
    margin-top: 5px;
}

.menu-element:hover,
.file:hover {
    color: blue;
}

.main-li .active {
    background: aliceblue;
}
